<html>
	<head>
    	<meta charset="UTF-8">
    	<title>Hydra: Board Game Engine</title>
    	<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>

    <body>

        <!-- Navigation bar -->
        <div class="nav-container">
			<div class="header">Hydra</div>
			<div class="search-box">
				<div class="search-text">
					Search
				</div>
			</div>
			<div class="search-button">
				<div class="search-button-text">
					Search
				</div>
			</div>

			<div class="nav-items">
				<p class="nav-item" style="order: 0;"> Home </p>
				<p class="nav-item" style="order: 1;"> <a href="/games">Games</a> </p>
				<p class="nav-item" style="order: 2;"> Settings </p>
				<p class="nav-item" style="order: 3;"> Documentation </p>
			</div>
		</div>

        <iframe class="doc-frame" src="/docs" height="100%" width="75%" title="Iframe Example"></iframe> 




    </body>
</html>