<html>
	<head>
    	<meta charset="UTF-8">
    	<title>Hydra: Board Game Engine</title>
    	<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>

	<body>

		<div class="nav-container">


			<div class="header">Hydra</div>
			<div class="search-box">
				<div class="search-text">
					Search
				</div>
			</div>
			<div class="search-button">
				<div class="search-button-text">
					Search
				</div>
			</div>

			<div class="nav-items">
					<p class="nav-item" style="order: 0;"> <a href="/"> Home </a> </p>
				<p class="nav-item" style="order: 1;"> <a href="/hydra/games">Games</a> </p>
				<p class="nav-item" style="order: 2;"> Settings </p>
				<p class="nav-item" style="order: 3;"> <a href="/hydra/docs">Documentation</a> </p>
			</div>
		  </div>

		 <br><br> 

		  <!-- Announcment header -->
		  <div class="hero-card">
			<div class="hero-header">
				<div class="hero-header-text">
					Welcome to Hydra
				</div>
			</div>

			<div class="hero-summary">
				<div class="hero-summary-text">
					Hydra is a system for implementing reinforcement learning algorithms. This paradigm of learning requires us to represent an agent, state and environment. Games, specifically with two dimensional environments can easily represent RL problems. Algorithms can be used to manage the state and create learning strategies. The purpose of this project, is to learn about various methods to represent a game environment, create libraries for implementing reinforcement learning algorithms and understand the fundamentals of creating “simple” games that agents can play.

				</div>
			</div>

		

			<div class="hero-button">
				<div class="hero-button-text">
					Documentation
				</div>
			</div>
			
		  </div>

		  <br> 

		  <div class="list-group">
			<div class="list-group-header">
				Latest Changes
			</div>

			<div class="list-tile" style="order: 1;">
				<div class="list-tile-avatar"></div>
				<div class="list-tile-content">
					<div class="list-tile-header">Add Negamaxing routine</div>
					<div class="list-tile-subtitle">Add Negamaxing routine</div>
				</div>
			</div>

			<div class="list-tile" style="order: 2;">
				<div class="list-tile-avatar"></div>
				<div class="list-tile-content">
					<div class="list-tile-header">Add Negamaxing routine</div>
					<div class="list-tile-subtitle">Add Negamaxing routine</div>
				</div>
			</div>

			<div class="list-tile" style="order: 3;">
				<div class="list-tile-avatar"></div>
				<div class="list-tile-content">
					<div class="list-tile-header">Add Negamaxing routine</div>
					<div class="list-tile-subtitle">Add Negamaxing routine</div>
				</div>
			</div>



		  </div>
		
	</body>

</html> 
